
___ DADOS DO DATAFRAME  __

In [1]:
import pandas as pd

In [2]:
base = pd.read_csv('credit-data.csv')

In [3]:
base# 5 atributos  income= salario age = idadel loan = valor do emprestimo default = 0 a pessoaa não foi capaz de pagar o emprestimo default = 1 a pessoaa foi capaz de pagar

      clientid        income        age          loan  default
0            1  66155.925095  59.017015   8106.532131        0
1            2  34415.153966  48.117153   6564.745018        0
2            3  57317.170063  63.108049   8020.953296        0
3            4  42709.534201  45.751972   6103.642260        0
4            5  66952.688845  18.584336   8770.099235        1
5            6  24904.064140  57.471607     15.498598        0
6            7  48430.359613  26.809132   5722.581981        0
7            8  24500.141984  32.897548   2971.003310        1
8            9  40654.892537  55.496853   4755.825280        0
9           10  25075.872771  39.776378   1409.230371        0
10          11  64131.415372  25.679575   4351.028971        0
11          12  59436.847123  60.471936   9254.244538        0
12          13  61050.346079  26.355044   5893.264659        0
13          14  27267.995458  61.576776   4759.787581        0
14          15  63061.960174  39.201553   1850.369377        0
15          16  50501.726689 -28.218361   3977.287432        0
16          17  43548.654711  39.574530   3935.544453        0
17          18  43378.175194  60.848318   3277.737553        0
18          19  20542.365073  61.690571   3157.442290        0
19          20  58887.357549  26.076093   4965.516066        0
20          21  23000.784002  31.761354   1148.118057        0
21          22  32197.620701 -52.423280   4244.057136        0
22          23  23329.319414  48.576975    222.622299        0
23          24  27845.800894  51.970624   4959.921226        0
24          25  65301.984029  48.840922   5465.267886        0
25          26  47451.630123  27.031741   5361.282716        0
26          27  63287.038908 -36.496976   9595.286289        0
27          28  45727.459870  55.839922   6376.822949        0
28          29  59417.805406        NaN   2082.625938        0
29          30  58842.891308  54.510948  10871.186790        0
...        ...           ...        ...           ...      ...
1970      1971  68047.925311  47.694520   4023.064765        0
1971      1972  36275.735863  30.308184    644.384195        0
1972      1973  52389.366848  54.969313  10398.820592        0
1973      1974  23678.376111  47.466485   1779.814597        0
1974      1975  37707.642948  31.344048    268.290971        0
1975      1976  57753.568962  54.235915   5067.449964        0
1976      1977  30529.963288  47.604402   6046.840845        0
1977      1978  44022.268737  31.192627   1707.672870        0
1978      1979  58533.884683  40.518963   7832.443321        0
1979      1980  33702.531834  48.148404    922.036590        0
1980      1981  40236.872067  52.580773   4354.314412        0
1981      1982  62619.155988  43.999461   3959.611772        0
1982      1983  50738.362193  45.993199   9719.562798        0
1983      1984  64466.760138  33.327144   8537.369666        1
1984      1985  64636.402186  60.886966   2583.106425        0
1985      1986  22371.522191  39.142225   2291.856428        0
1986      1987  67994.988470  38.622259   7289.014109        0
1987      1988  49640.004702  20.542409   5760.858734        0
1988      1989  42067.246446  24.270612   4601.606183        0
1989      1990  43662.092688  25.252609   7269.596897        1
1990      1991  34237.575419  34.101654   2658.090632        0
1991      1992  26300.446554  45.539385   2317.393678        0
1992      1993  30803.806165  23.250084    623.024153        0
1993      1994  54421.410155  26.821928   3273.631823        0
1994      1995  24254.700791  37.751622   2225.284643        0
1995      1996  59221.044874  48.518179   1926.729397        0
1996      1997  69516.127573  23.162104   3503.176156        0
1997      1998  44311.449262  28.017167   5522.786693        1
1998      1999  43756.056605  63.971796   1622.722598        0
1999      2000  69436.579552  56.152617   7378.833599        0

[2000 rows x 5 columns]

In [4]:
# coluna clientid são dados não mensuraveis   porque cada pessoa possui seu id

In [5]:
# coluna income renda entra na variavel continua

In [6]:
#idade age entra em discreta se o numero for inteiro

In [7]:
# laon valor solictado de emprestimo entra na variavel continua

In [8]:
#default e a classe se a pessoa vai pagar ou não o emprestimo entra como uma vairavel discreta

In [9]:
base.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [10]:
base.loc[base['age']<0]

    clientid        income        age         loan  default
15        16  50501.726689 -28.218361  3977.287432        0
21        22  32197.620701 -52.423280  4244.057136        0
26        27  63287.038908 -36.496976  9595.286289        0

In [11]:
#apagar a coluna com problema

In [12]:
#base.drop('age', 1, inplace= True)

In [13]:
#apagar somente os registros com problemas

In [14]:
#base.drop(base[base.age < 0].index, inplace=True)

In [15]:
base

      clientid        income        age          loan  default
0            1  66155.925095  59.017015   8106.532131        0
1            2  34415.153966  48.117153   6564.745018        0
2            3  57317.170063  63.108049   8020.953296        0
3            4  42709.534201  45.751972   6103.642260        0
4            5  66952.688845  18.584336   8770.099235        1
5            6  24904.064140  57.471607     15.498598        0
6            7  48430.359613  26.809132   5722.581981        0
7            8  24500.141984  32.897548   2971.003310        1
8            9  40654.892537  55.496853   4755.825280        0
9           10  25075.872771  39.776378   1409.230371        0
10          11  64131.415372  25.679575   4351.028971        0
11          12  59436.847123  60.471936   9254.244538        0
12          13  61050.346079  26.355044   5893.264659        0
13          14  27267.995458  61.576776   4759.787581        0
14          15  63061.960174  39.201553   1850.369377        0
15          16  50501.726689 -28.218361   3977.287432        0
16          17  43548.654711  39.574530   3935.544453        0
17          18  43378.175194  60.848318   3277.737553        0
18          19  20542.365073  61.690571   3157.442290        0
19          20  58887.357549  26.076093   4965.516066        0
20          21  23000.784002  31.761354   1148.118057        0
21          22  32197.620701 -52.423280   4244.057136        0
22          23  23329.319414  48.576975    222.622299        0
23          24  27845.800894  51.970624   4959.921226        0
24          25  65301.984029  48.840922   5465.267886        0
25          26  47451.630123  27.031741   5361.282716        0
26          27  63287.038908 -36.496976   9595.286289        0
27          28  45727.459870  55.839922   6376.822949        0
28          29  59417.805406        NaN   2082.625938        0
29          30  58842.891308  54.510948  10871.186790        0
...        ...           ...        ...           ...      ...
1970      1971  68047.925311  47.694520   4023.064765        0
1971      1972  36275.735863  30.308184    644.384195        0
1972      1973  52389.366848  54.969313  10398.820592        0
1973      1974  23678.376111  47.466485   1779.814597        0
1974      1975  37707.642948  31.344048    268.290971        0
1975      1976  57753.568962  54.235915   5067.449964        0
1976      1977  30529.963288  47.604402   6046.840845        0
1977      1978  44022.268737  31.192627   1707.672870        0
1978      1979  58533.884683  40.518963   7832.443321        0
1979      1980  33702.531834  48.148404    922.036590        0
1980      1981  40236.872067  52.580773   4354.314412        0
1981      1982  62619.155988  43.999461   3959.611772        0
1982      1983  50738.362193  45.993199   9719.562798        0
1983      1984  64466.760138  33.327144   8537.369666        1
1984      1985  64636.402186  60.886966   2583.106425        0
1985      1986  22371.522191  39.142225   2291.856428        0
1986      1987  67994.988470  38.622259   7289.014109        0
1987      1988  49640.004702  20.542409   5760.858734        0
1988      1989  42067.246446  24.270612   4601.606183        0
1989      1990  43662.092688  25.252609   7269.596897        1
1990      1991  34237.575419  34.101654   2658.090632        0
1991      1992  26300.446554  45.539385   2317.393678        0
1992      1993  30803.806165  23.250084    623.024153        0
1993      1994  54421.410155  26.821928   3273.631823        0
1994      1995  24254.700791  37.751622   2225.284643        0
1995      1996  59221.044874  48.518179   1926.729397        0
1996      1997  69516.127573  23.162104   3503.176156        0
1997      1998  44311.449262  28.017167   5522.786693        1
1998      1999  43756.056605  63.971796   1622.722598        0
1999      2000  69436.579552  56.152617   7378.833599        0

[2000 rows x 5 columns]

In [16]:
#preencher os valores manualmente
#preencher os valores com a media

In [17]:
base.mean()

clientid     1000.500000
income      45331.600018
age            40.807559
loan         4444.369695
default         0.141500
dtype: float64

In [18]:
base['age'].mean()

40.80755937840458

In [19]:
base['age'][base.age >0].mean()

40.92770044906149

In [20]:
base.loc[base.age < 0, 'age'] = 40.92 # substituindo valores pelo valor medio

In [21]:
base

      clientid        income        age          loan  default
0            1  66155.925095  59.017015   8106.532131        0
1            2  34415.153966  48.117153   6564.745018        0
2            3  57317.170063  63.108049   8020.953296        0
3            4  42709.534201  45.751972   6103.642260        0
4            5  66952.688845  18.584336   8770.099235        1
5            6  24904.064140  57.471607     15.498598        0
6            7  48430.359613  26.809132   5722.581981        0
7            8  24500.141984  32.897548   2971.003310        1
8            9  40654.892537  55.496853   4755.825280        0
9           10  25075.872771  39.776378   1409.230371        0
10          11  64131.415372  25.679575   4351.028971        0
11          12  59436.847123  60.471936   9254.244538        0
12          13  61050.346079  26.355044   5893.264659        0
13          14  27267.995458  61.576776   4759.787581        0
14          15  63061.960174  39.201553   1850.369377        0
15          16  50501.726689  40.920000   3977.287432        0
16          17  43548.654711  39.574530   3935.544453        0
17          18  43378.175194  60.848318   3277.737553        0
18          19  20542.365073  61.690571   3157.442290        0
19          20  58887.357549  26.076093   4965.516066        0
20          21  23000.784002  31.761354   1148.118057        0
21          22  32197.620701  40.920000   4244.057136        0
22          23  23329.319414  48.576975    222.622299        0
23          24  27845.800894  51.970624   4959.921226        0
24          25  65301.984029  48.840922   5465.267886        0
25          26  47451.630123  27.031741   5361.282716        0
26          27  63287.038908  40.920000   9595.286289        0
27          28  45727.459870  55.839922   6376.822949        0
28          29  59417.805406        NaN   2082.625938        0
29          30  58842.891308  54.510948  10871.186790        0
...        ...           ...        ...           ...      ...
1970      1971  68047.925311  47.694520   4023.064765        0
1971      1972  36275.735863  30.308184    644.384195        0
1972      1973  52389.366848  54.969313  10398.820592        0
1973      1974  23678.376111  47.466485   1779.814597        0
1974      1975  37707.642948  31.344048    268.290971        0
1975      1976  57753.568962  54.235915   5067.449964        0
1976      1977  30529.963288  47.604402   6046.840845        0
1977      1978  44022.268737  31.192627   1707.672870        0
1978      1979  58533.884683  40.518963   7832.443321        0
1979      1980  33702.531834  48.148404    922.036590        0
1980      1981  40236.872067  52.580773   4354.314412        0
1981      1982  62619.155988  43.999461   3959.611772        0
1982      1983  50738.362193  45.993199   9719.562798        0
1983      1984  64466.760138  33.327144   8537.369666        1
1984      1985  64636.402186  60.886966   2583.106425        0
1985      1986  22371.522191  39.142225   2291.856428        0
1986      1987  67994.988470  38.622259   7289.014109        0
1987      1988  49640.004702  20.542409   5760.858734        0
1988      1989  42067.246446  24.270612   4601.606183        0
1989      1990  43662.092688  25.252609   7269.596897        1
1990      1991  34237.575419  34.101654   2658.090632        0
1991      1992  26300.446554  45.539385   2317.393678        0
1992      1993  30803.806165  23.250084    623.024153        0
1993      1994  54421.410155  26.821928   3273.631823        0
1994      1995  24254.700791  37.751622   2225.284643        0
1995      1996  59221.044874  48.518179   1926.729397        0
1996      1997  69516.127573  23.162104   3503.176156        0
1997      1998  44311.449262  28.017167   5522.786693        1
1998      1999  43756.056605  63.971796   1622.722598        0
1999      2000  69436.579552  56.152617   7378.833599        0

[2000 rows x 5 columns]

In [22]:
pd.isnull(base['age']).head()

0    False
1    False
2    False
3    False
4    False
Name: age, dtype: bool

In [23]:
base.loc[pd.isnull(base['age'])]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

In [24]:
previsores = base.iloc[:, 1:4].values

In [25]:
previsores

array([[  6.61559251e+04,   5.90170151e+01,   8.10653213e+03],
       [  3.44151540e+04,   4.81171531e+01,   6.56474502e+03],
       [  5.73171701e+04,   6.31080495e+01,   8.02095330e+03],
       ...,
       [  4.43114493e+04,   2.80171669e+01,   5.52278669e+03],
       [  4.37560566e+04,   6.39717958e+01,   1.62272260e+03],
       [  6.94365796e+04,   5.61526170e+01,   7.37883360e+03]])

In [26]:
classe = base.iloc[:, 4].values

In [27]:
classe

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [28]:
# tratamento de dados de valores faltantes

In [29]:
from sklearn.preprocessing import Imputer# Imputer vai colocar um valor de entrada responsavel pelos valores faltantes
imputer = Imputer(missing_values ='NaN', strategy = 'mean', axis =0)
imputer = imputer.fit(previsores[:, 0:3])# metodo fit encaixa a nova variavel na base de dados
previsores[:, 0:3] = imputer.transform(previsores[:, 0:3])

In [30]:
previsores

array([[  6.61559251e+04,   5.90170151e+01,   8.10653213e+03],
       [  3.44151540e+04,   4.81171531e+01,   6.56474502e+03],
       [  5.73171701e+04,   6.31080495e+01,   8.02095330e+03],
       ...,
       [  4.43114493e+04,   2.80171669e+01,   5.52278669e+03],
       [  4.37560566e+04,   6.39717958e+01,   1.62272260e+03],
       [  6.94365796e+04,   5.61526170e+01,   7.37883360e+03]])

In [31]:
#ESCALONAMENTO DE ATRIBUTOS - DEIXAR OS ATRIBUTOS NA MESMA ESCALA

In [32]:
# PODE OCORRER EM ALGORITMOS QUE PELA DIFERENCA DE ESCALA O MESMO DEPEDENDO DO TIPO DE ALGARITMO CONSIDERA MAIS IMPORTANTE

In [33]:
# TIPOS DE ESCALONAMENTO

# PADRONIZAÇÃO - STANDARDISATION 

#X = X - MEDIA(X) / DESVIO PADRAO(X)

# NORMALIZAÇÃO - NORMALIZATION

#X = X - MINIMO(X) / MAXIMO(X) - MINIMO(X)


#DIGAMOS QUE EU TENHA UMA PESSOA DE 20 ANOS O MENOR VALOR DE IDADE 10 ANOS
#A PESSOA DE MAIOR IDADE 60 UTILIZANDO A NORMALIZACAO O VALOR DA MUDANCA DE ESCALA SERA 0.2

# 20 - 10 / 60 - 10 = 0,2

# distancia euclidiana distancia entre dois pontos

In [34]:
previsores

array([[  6.61559251e+04,   5.90170151e+01,   8.10653213e+03],
       [  3.44151540e+04,   4.81171531e+01,   6.56474502e+03],
       [  5.73171701e+04,   6.31080495e+01,   8.02095330e+03],
       ...,
       [  4.43114493e+04,   2.80171669e+01,   5.52278669e+03],
       [  4.37560566e+04,   6.39717958e+01,   1.62272260e+03],
       [  6.94365796e+04,   5.61526170e+01,   7.37883360e+03]])

In [35]:
# tranformar todos atributos numericos na mesma escala
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

In [36]:
#divisaõ da base de dados de teste e treinamento
from sklearn.cross_validation import train_test_split

#train_test_split funcao que divisão automatico teste e treinamento
#colocar dentro da funcao train_test_split(base de dados original que queremos fazer a divisão)

#teste_size = quantos % da base de dados vai ser utilizado para teste

#random_state porção da base de dados

C:\ProgramData\Anaconda2\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [37]:
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste = train_test_split(previsores, classe, test_size=0.25, random_state=0)

In [38]:
previsores_treinamento.shape

(1500L, 3L)

In [39]:
previsores_teste.shape

(500L, 3L)

In [40]:
previsores_teste

array([[ 1.59301567, -1.35435846,  2.58262733],
       [ 0.99769755,  0.99806572,  0.84418709],
       [-0.42485257,  0.55812622, -1.15785286],
       ...,
       [ 1.37445674, -1.05746281, -1.12564819],
       [-1.57087737, -0.63488173, -0.36981671],
       [-1.03572293, -0.93978122,  0.04244312]])

In [41]:
classe_treinamento.shape

(1500L,)

In [42]:
classe_teste.shape

(500L,)

In [43]:
from sklearn.naive_bayes import GaussianNB

In [44]:
classificador = GaussianNB()
classificador.fit(previsores_treinamento, classe_treinamento)

GaussianNB(priors=None)

In [45]:

#Submeter a tabela previsores_teste a tabela de probabilidade 
#- TEMOS 500 REGISTROS NA TABELA PREVISORES_TESTE
previsoes = classificador.predict(previsores_teste)

#COM ISTO A TABELA VAI

In [46]:
previsoes

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [47]:
#verificacao do percentual de acerto do algoritimo
from sklearn.metrics import confusion_matrix, accuracy_score
precisao = accuracy_score(classe_teste, previsoes)

In [48]:
precisao

0.93799999999999994

In [50]:
#verificacar o numero de registro que algoritimo acertou - Matriz confusion
matriz = confusion_matrix(classe_teste, previsoes)


# 428 - 8 linha da classe zero ## não pagou o financiamento #

# o algoritimo considerou 8 registros da classe zero como classe um (428 - 8)

# 23 - 41 linha da classe um ##pagou o financiamento##

#  o algoritimo considerou 23 registros da classe um como classe zero (23- 41)


# dos 500 registros da base de dados teste 469 o algoritmo acertou

In [51]:
matriz

array([[428,   8],
       [ 23,  41]])